@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}

@media print {
  body {
    background: #ffffff !important;
    color: #000000 !important;
  }
  
  /* Ensure charts don't break across pages */
  .recharts-wrapper {
    page-break-inside: avoid;
  }

  /* Some extra print formatting if needed */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

